.header-img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%; 
}

#fb {
    background:#3B5998;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff;
}

#email {
    background: #ECECEC;
}