<div class="card">
  <img class="header-img" src="assets/Images/carLarge.png">
  <div class="card-body">
    <h3 class="card-title">Never Loose Your Car Again</h3>
    <p class="card-text">Log into "Car Locator" and get realtime access to your car's location and direction on how to get to it.</p>
  </div>
</div>

<div class="card">
  <img class="header-img" src="assets/Images/Login/lock.svg">
  <div class="card-body">
    <button class="btn btn-block" (click)="loginFb()" id="fb">Login With Facebook</button><br>
    <button class="btn btn-block" (click)="loginGoogle()" id="google">Login With Google</button><br>
    <!--<button class="btn btn-block" routerLink="/login-email" id="email">Email</button>-->
  </div>
</div>
